<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
      <canvas id="controllerCanvas"></canvas>
      <script type="text/javascript" src="javascripts/controller.js">
      </script>
  </body>
</html>
