<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="javascripts/jquery.qrcode.min.js"></script>
</head>

<body>
    <canvas id="canvas" style="image-rendering: pixelated" width="" height=""></canvas>
    <div id="qrcode"></div>
    <!--<div id="conUrl"></div>-->
    <p>　〜ゲーム説明〜</p>
    <p>　　mizunomiを操作して最後まで生き残れ！</p>
    <p>　　他プレイヤーが撃った泡や発生した泡に当たると脱落</p>
    <p>　　プレイヤーが二人以上揃わないとゲームを開始できません</p>
    <P>　〜操作説明〜</P>
    <p>　　操作画面左から順に</p>
    <p>　　左ボタン：左に移動　右ボタン：右に移動　上昇ボタン：上昇、連打して昇ろう　ショットボタン：泡を撃つ</p>
    <p>　〜注意〜</p>
    <p>　　スマートフォンの画面回転をオフにしてプレイしてください。コントーラーがうまく表示できない場合があります。</P>
    <script type="text/javascript" src="javascripts/game.js"></script>
    <script type="text/javascript" src="javascripts/model/room.js"></script>
    <script type="text/javascript" src="javascripts/model/player.js"></script>
    <script type="text/javascript" src="javascripts/model/bullet.js"></script>
    <script type="text/javascript" src="javascripts/model/socketSignals.js"></script>
    <!-- <script type="text/javascript" src="javascripts/model/assetManager.js"></script> -->
</body>

</html>
