<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="javascripts/jquery.qrcode.min.js"></script>
</head>

<body>
    <canvas id="canvas" style="image-rendering: pixelated" width="" height=""></canvas>
    <div id="qrcode"></div>
    <div id="conUrl"></div>
    <script type="text/javascript" src="javascripts/game.js"></script>
    <script type="text/javascript" src="javascripts/model/room.js"></script>
    <script type="text/javascript" src="javascripts/model/player.js"></script>
    <script type="text/javascript" src="javascripts/model/bullet.js"></script>
    <script type="text/javascript" src="javascripts/model/socketSignals.js"></script>
    <!-- <script type="text/javascript" src="javascripts/model/assetManager.js"></script> -->
</body>

</html>
